div, button, .row{
    margin-left: 20px;
}
hr {
    margin-top:30px;
}
#input {
    width: 300px;
}
input {
    margin-bottom: 12px;
}
.col-md-3 {
    margin:0;
}
.news {
    font-size: 16px;
}
.col-12 {
    text-align: center;
}
.btn2{
    margin-left:auto;
    margin-right:auto;
}
#table1 {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
    border: 0.5px solid gray;
}
#table2 {
    width: 50%;
    margin-bottom:15px;
    border: 0.5px solid gray;
}
td{
    width: 20px;
    border: 0.5px solid gray;
    text-align: center;
}
.btn3 {
    background-color: orange;
}
.btn4 {
    background-color: yellow;
}
.lista-liczb {
    width: 475px;
    border: 2px solid pink;
}
.button5, .output {
    display: inline-block;
}