div, button, .row{
    margin-left: 20px;
}
hr {
    margin-top:30px;
}
#input {
    width: 300px;
}
input {
    margin-bottom: 12px;
}
.col-md-3 {
    margin:0;
}
.news {
    font-size: 16px;
}
.col-12 {
    text-align: center;
}
.btn2{
    margin-left:auto;
    margin-right:auto;
}